/*Roboto 폰트를 구글 폰트로 부터 가지고 온다. 400/500/600/700 사이즈 구해온다 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

/*전체적으로 적용할 세팅*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

body {
  background: #000;
  background-repeat: no-repeat; /* 반복 없음 */
  background-position: center;
  background-attachment: fixed;
  background-size: cover; /* 화면 크기에 맞게 조정 */
  color: #fff;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/Clonepage/images/large.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(16px); /* Apply blur only on this overlay */
  mask-image: linear-gradient(
    to bottom,

    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100% /* No blur at the very bottom */
  );
  pointer-events: none; /* Ensures the overlay does not interfere with content */
}

.header {
  width: 100vw;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("/Clonepage/images/large.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33%; /* Adjust height as needed */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.6)
  );
  z-index: -1;
}

.headerwrapper {
  display: flex;
  justify-content: center;
}

.header-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* Same border-radius as the main container */
  padding: 2px; /* Adjust padding to control border thickness */
  background: linear-gradient(315deg, #000000b4 0%, #e7f3f3 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none; /* Ensure it doesn’t block interaction with content */
}

.header-content {
  width: 95%;
  height: 400px;
  padding: 28px 38px;
  border-radius: 20px;
  border-image-slice: 1;
  margin: 0px 190px 10px 190px;
  display: block;
  justify-content: center;
  align-content: end;
  text-align: center;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: inset 0px -20px 20px rgba(255, 255, 255, 0.15),
    /* First shadow layer for strong glow near bottom */ inset 0px -40px 60px 40px
      rgba(255, 255, 255, 0.1),
    /* Second shadow layer, softer and spreads higher */ inset 0px -60px 200px 80px
      rgba(
        255,
        255,
        255,
        0.05
      ); /* Third shadow layer for a very soft, high spread */
  z-index: 1;
}

.header-content h1 {
  font-size: 56px;
}
h3 {
  font-size: 20px;
  color: rgb(173, 173, 173);
}

.email-signup {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.email-signup input {
  display: inline-flex;
  background-color: #00000000;
  color: white;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  text-align: left;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 28px;
  cursor: pointer;
  margin-right: 0.8rem;
  outline: thick, double white;
  width: 400px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
  z-index: 2;
  transition: all 0.1s ease-in;
}

.email-signup input:is(:focus, :valid) {
  background: rgba(0, 0, 0, 0.123);
  padding: 10px 5px 20px 0;
}

.email-signup label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.email-signup button {
  background: #ff0000;
  width: 160px;
  font-size: 20px;
  border: 1px solid #666161;
  border-radius: 28px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 12px;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 45px 20px;
}

.logo {
  width: 120px;
  height: auto;
  cursor: pointer;
  scale: 1.1;
  margin-left: 1.5%;
}

nav button {
  display: inline-block;
  background: white;
  color: black;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 10px;
  padding: 7px 20px;
  outline: white;
  width: 100px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

nav button a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav .language_btn {
  display: inline-flex;
  background: var(--primary-color);
  color: white;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  text-align: left;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: white;
  width: 120px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}
nav .language_btn::after {
  text-align: right;
  content: "▾";
  font-size: 1rem;
  position: relative;
  margin-left: 18px;
}

.ads {
  position: relative;
  padding: 10px 12%;
  text-align: left;
  border-radius: 24px;
}

.ads .adsdetail {
  border: 1px solid rgba(128, 128, 128, 0.373);
  background-color: rgba(128, 128, 128, 0.373);
  border-radius: 24px;
  padding: 15px 15px 15px;
  line-height: 1.4;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ads .adsdetail:hover {
  background-color: rgba(128, 128, 128, 0.658);
  transition: all 0.3s ease-in;
  scale: 1.05;
}

.ads .adsdetail a {
  border: 1px solid rgba(128, 128, 128, 0.373);
  background-color: rgba(0, 0, 0, 0.511);
  border-radius: 24px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.ads .adsdetail p {
  color: gray;
}

.trending-now {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  padding: 30px 12% 0px; /* Adjust padding as necessary */
  align-items: center;
  position: relative;
}

.show-cards {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 20px; /* Padding on the container, may affect scroll area */
  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  width: 100%; /* Ensure the container fills its parent */
}

/* Hide scrollbar in Webkit browsers (Chrome, Safari, etc.) */
.show-cards::-webkit-scrollbar {
  display: none;
}

.show-card {
  min-width: 150px;
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  scroll-snap-align: start;
  flex-shrink: 0; /* Prevent the cards from shrinking */
}

.show-card:first-child {
  margin-left: -20px; /* Offset the first card to the left */
}

.number-overlay {
  position: absolute;
  top: 25px; /* Adjust top positioning as needed */
  left: 0; /* Align to the left edge */
  color: black; /* Color of the number */
  font-size: 72px; /* Adjust the font size */
  font-weight: bold;
  text-shadow: 2px 2px 0px white, -2px -2px 0px white, 2px -2px 0px white,
    -2px 2px 0px white; /* White outline effect */
  transform: translateX(-50%); /* Shift the number left by 50% of its width */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.headerbanner {
  padding: 10px 12%;
  text-align: left;
  font-size: 20px;
  color: #fff;
}

.headerbanner .phgrid > div {
  box-sizing: border-box;
}

.headerbanner .phgrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 100px);
  gap: 10px;
  grid-template-areas: "phcontent1 phcontent2 phcontent3 phcontent4";
}

.headerbanner .phgrid #phcontent1 {
  grid-area: phcontent1;
  color: white;
  font-size: 18px;
  background-color: rgba(99, 99, 99, 0.61);
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.headerbanner .phgrid #phcontent2 {
  grid-area: phcontent2;
  color: white;
  font-size: 18px;
  background-color: rgba(99, 99, 99, 0.61);
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.headerbanner .phgrid #phcontent3 {
  grid-area: phcontent3;
  color: white;
  font-size: 18px;
  background-color: rgba(99, 99, 99, 0.61);
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.headerbanner .phgrid #phcontent4 {
  grid-area: phcontent4;
  color: white;
  font-size: 18px;
  background-color: rgba(99, 99, 99, 0.61);
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid gray;
  box-sizing: border-box;
}

#language_btn {
  display: inline-flex;
  background-color: #00000000;
  color: white;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  text-align: left;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
  margin-right: 0.8rem;
  outline: thick, double white;
  width: 120px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

#language_btn option {
  color: black;
}

#language_btn::after {
  text-align: right;
  content: "▾";
  font-size: 1rem;
  position: relative;
  margin-left: 18px;
}

.abovesc {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures h1 goes left and nav goes right */
  padding: 10px 12%;
  text-align: left;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.question {
  padding: 10px 12%;
  text-align: left;
  font-size: 20px;
  color: #fff;
}

.question h2 {
  font-size: 40px;
  font-weight: 500;
}

.ques_accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 1800px;
}
.ques_accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.ques_accordion li label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  background: #303030;
  margin-bottom: 4px;
}
label::after {
  content: "+";
  font-size: 30px;
  position: absolute;
  right: 22px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.ques_accordion .ques_content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s, padding 0.4s;
}

.ques_accordion input[type="radio"]:checked + label + .ques_content {
  max-height: 600px;
  padding: 30px 20px;
}

.ques_accordion input[type="radio"]:checked + label::after {
  transform: rotate(130deg);
}

.question small {
  font-size: 14px;
}

/* ---------------footer------------------- */

.netflix_footer {
  color: #777;
}

.netflix_footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.netflix_footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.netflix_footer .row {
  align-items: flex-start;
  list-style-type: disc;
  padding: 10px 0;
  border-top: none;
}
.netflix_footer .row table {
  display: block;
  text-decoration: underline;
  color: #777;
  font-size: 14px;
  margin-bottom: 12px;
}

.netflix_footer .row table td {
  padding: 10px 80px;
}

.netflix_footer .row table td a {
  text-decoration: underline;
  color: #777;
  font-size: 14px;
  margin-bottom: 12px;
}

.netflix_footer .row table td:first-child {
  padding-left: 0;
}

.netflix_footer .language_btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  text-align: left;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: white;
  width: 120px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45);
}

.netflix_footer .language_btn::after {
  text-align: right;
  content: "▾";
  font-size: 1rem;
  position: relative;
  margin-left: 18px;
}

.netflix_footer .language_btn:checked + .language_btn::after {
  transform: rotate(180deg);
}

.copyright-txt {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #b1afaf;
}

.netflix_info {
  font-size: 10px;
  margin-top: 20px;
  color: #b1afaf;
}

.gonjung {
  font-size: 10px;
  margin-bottom: 14px;
  color: #b1afaf;
}

footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  padding: 40px 15%;
  box-sizing: border-box;
}

/* -------------------미디어 쿼리------------------- */
@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .header-content {
    padding: 15px;
    height: 400px;
    margin: 0px 50px 10px 50px;
  }

  .header-content h1 {
    font-size: 32px;
  }

  .header-content h3 {
    font-size: 16px;
  }

  .email-signup input {
    width: 300px;
    font-size: 0.8rem;
  }

  .email-signup button {
    font-size: 12px;
    width: 120px;
    padding: 8px;
  }

  nav {
    padding: 10px 15px;
  }

  nav button {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .trending-now .show-card {
    min-width: 100px;
    height: 180px;
  }

  .trending-now h1 {
    font-size: 20px;
  }

  .trending-now .abovesc {
    font-size: 12px;
    margin-top: 0;
  }

  .trending-now .scroll-container {
    padding: 0px 12% 0px;
  }

  #language_btn {
    font-size: 12px;
  }

  .ads .adsdetail .adssection1 {
    font-size: 12px;
  }

  .headerbanner h1 {
    font-size: 24px;
  }

  .headerbanner .phgrid {
    grid-template-columns: 1fr;
    display: inline-flex;
    margin-top: 20px;
  }

  .headerbanner .phgrid #phcontent1 {
    font-size: 16px;
  }

  .headerbanner .phgrid #phcontent2 {
    font-size: 16px;
  }

  .headerbanner .phgrid #phcontent3 {
    font-size: 16px;
  }

  .headerbanner .phgrid #phcontent4 {
    font-size: 16px;
  }

  .ads .adsdetail {
    padding: 8px;
    font-size: 0.9rem;
  }

  .ques_accordion {
    margin: 20px auto;
  }

  .question h1 {
    font-size: 24px;
  }

  .question h2 {
    font-size: 24px;
  }

  .question small {
    font-size: 12px;
  }

  .netflix_footer h2 {
    font-size: 16px;
  }

  .netflix_footer .row table td {
    padding: 5px 20px;
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .header-content {
    padding: 15px;
    height: 400px;
  }

  .header-content h1 {
    font-size: 32px;
  }

  .header-content h3 {
    font-size: 16px;
  }

  .email-signup input {
    width: 250px;
    font-size: 0.8rem;
  }

  .email-signup button {
    font-size: 12px;
    width: 120px;
    padding: 8px;
  }

  nav {
    padding: 10px 15px;
  }

  nav button {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .trending-now .show-card {
    min-width: 100px;
    height: 180px;
  }

  .trending-now h1 {
    font-size: 12px;
  }

  .trending-now .abovesc {
    font-size: 12px;
  }

  #language_btn {
    font-size: 12px;
  }

  .ads .adsdetail .adssection1 {
    font-size: 12px;
  }

  .headerbanner h1 {
    font-size: 20px;
  }

  .headerbanner .phgrid {
    grid-template-columns: 1fr;
    gap: 5px;
    display: inline;
  }

  .headerbanner .phgrid #phcontent1 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent2 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent3 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent4 {
    font-size: 12px;
  }

  .ads .adsdetail {
    padding: 8px;
    font-size: 0.9rem;
  }

  .ques_accordion {
    margin: 20px auto;
  }

  .question h1 {
    font-size: 28px;
  }

  .question h2 {
    font-size: 24px;
  }

  .question small {
    font-size: 12px;
  }

  .netflix_footer h2 {
    font-size: 16px;
  }

  .netflix_footer .row table td {
    padding: 5px 20px;
    font-size: 12px;
  }
}

/* For screens up to 480px wide */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
  }

  .header-content {
    padding: 15px;
    margin: 0px 10px 30px;
    height: 400px;
  }

  .header-content h1 {
    font-size: 32px;
  }

  .header-content h3 {
    font-size: 16px;
  }

  .email-signup input {
    width: 75%;
    font-size: 0.8rem;
  }

  .email-signup button {
    font-size: 12px;
    width: 120px;
    padding: 8px;
  }

  nav {
    padding: 10px 15px;
  }

  nav button {
    padding: 5px 12px;
    font-size: 0.8rem;
  }

  .trending-now .show-card {
    min-width: 100px;
    height: 180px;
  }

  .trending-now h1 {
    font-size: 12px;
  }

  #language_btn {
    font-size: 12px;
  }

  .ads .adsdetail .adssection1 {
    font-size: 12px;
  }

  .headerbanner h1 {
    font-size: 20px;
  }

  .headerbanner .phgrid {
    grid-template-columns: 1fr;
    gap: 5px;
    display: inline;
  }

  .headerbanner .phgrid #phcontent1 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent2 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent3 {
    font-size: 12px;
  }

  .headerbanner .phgrid #phcontent4 {
    font-size: 12px;
  }

  .ads .adsdetail {
    padding: 8px;
    font-size: 0.9rem;
  }

  .ques_accordion {
    margin: 20px auto;
  }

  .question h1 {
    font-size: 28px;
  }

  .question h2 {
    font-size: 24px;
  }

  .question small {
    font-size: 12px;
  }

  .netflix_footer h2 {
    font-size: 16px;
  }

  .netflix_footer .row table td {
    padding: 5px 20px;
    font-size: 12px;
  }
}
